<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
<div class=" min-h-screen bg-[url('bg.jpg')] bg-center bg-cover px-28 py-5 relative">
    <nav class="flex items-center text-2xl -space-x-44  ">
        <img src="logo.png" class="w-40 cursor-pointer">
        <ul class="flex-1 text-center" >
        </ul>
    </nav>
    <div class=" flex justify-center items-center mt-44">
        <table class="  shadow-2xl font-[Poppins] border-2 border-cyan-200 w-2 overflow-hidden ">
            <thead class="text-white">
            <tr>
                <th class="py-2 px-28 bg-blue-950">TYPE 1 </th>
                <th class="py-2 px-28 bg-blue-950">TYPE 2 </th>
                <th class="py-2 px-28 bg-blue-950">TYPE 3 </th>
                <th class="py-2 px-28 bg-blue-950">TYPE 4 </th>

            </tr>
            </thead>
            <tbody class="text-cyan-900 text-center">
            <tr class="hover:bg-blue-100 bg-blue-200 cursor-pointer duration-300">
                <td class="py-3 px-6">200.000 đ </td>
                <td class="py-3 px-6">500.000đ </td>
                <td class="py-3 px-6">1.000.000đ </td>
                <td class="py-3 px-6">3.000.000đ </td>


            </tbody>
        </table>
    </div>
</div>
</body>
</html>